# Ignore CSV and Excel files
*.csv
*.xls
*.xlsx

# Ignore virtual environment folders
.env/
venv/
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store

# Ignore log files
*.log

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore Python distribution package files
*.egg
*.egg-info
dist/
build/

# Ignore configuration files
*.config
*.ini

# Ignore database files
*.db
*.duckdb